#titlebar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    background-color: lightgray;

}
#title {
    color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    
}
